<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
<head>
	<!-- Não faço ideia -->
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- jQuery -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

	<!-- Bootstrap 5 -->
  	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

	<!-- CSS -->
	<link rel="stylesheet" href="/public/layout.css" />

	<!-- Icone da página -->
	<link rel="shortcut icon" type="imagex/png" href="/public/img/Icone.png">

	<!-- Gif -->
	<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

	<!-- Icones -->
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<!-- Fonte -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Poppins&display=swap" rel="stylesheet">

	<!-- Títulos font-family: 'Oswald', sans-serif; -->
	<!-- Corpo font-family: 'Poppins', sans-serif; --> 

	<!-- Título -->
	<title><%=((typeof titulo === "undefined" || !titulo) ? "Tortalizando" : (titulo + " - Tortalizando")) %></title>

	<%- defineContent("styles") %>
</head>
<body>
	<section>
		<header>
			<a href="#" class="logo"><img src="/public/img/Icone2.png"></a>
			<ul>
				<li><a href="#">Página inicial</a></li>
				<li><a href="#">Menu</a></li>
				<li><a href="#">Marcas</a></li>
				<li><a href="#">Sobre nós</a></li>
			</ul>
		</header>
	</section>

	<%- body %>

	<%- defineContent("scripts") %>
</body>
</html>
